:root {
  --font-family: "Roboto Slab";
}
#top {
  min-width: 50%;
  max-width: 300px;
  margin: auto;
}
#top img {
  margin-bottom: 2em;
}
#working_groups, #agreement, #learnmore, #steeringcommittee {
  margin: auto;
  text-align: center;
}
section:not(#top):before {
  content: '';
  display: block;
  border: 1px solid lightblue;
  margin: 1em 4em;
}
#working_groups h1 {
  margin-bottom: 0;
  margin-top: 1em;
}
#learnmore a[role=button] img {
  width: 200px;
  height: 70px;
}
nav {
  justify-content: space-between;
  padding: 0 1em;
  background: lightblue;
  position: sticky;
  top: 0;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
footer {
  background: lightblue;
  padding: 1em !important;
}
